@charset "UTF-8";

body {
    font-family: "lucida console", "courier new";
    background-color: darkslateblue;
}
h1 {
    color: tomato;
}
h2 {
    color: darkgrey;
}
p {
    color: lightseagreen;
}
mark {
    background-color: lightseagreen;
}
a {
    color: mediumblue;
}
a:visited {
    color: mediumvioletred;
}
