@charset "UTF-8";

body {
    background-color: #e1f0f0;
    font-family: "Times New Roman", InconsolataRegular, "Source Code Pro", monospace;
    font-size: 2.2em;
    color: #282851;
    height: 100%;
}

.featureTitle {
	width: 60em;
}