@charset "UTF-8";

body {
    background-color: #e1f0f0;
    font-family: "Times New Roman", Verdana, serif;
    font-size: 1em;
    color: #282851;
    height: 100%;
}

form input {
	font-size: 1em;
	font-family: "Times New Roman", Verdana, serif;
}

ul.featureResults {
	list-style-type: none;
}

ul.featureResults {
	margin-left: 0;
	padding-left: 0;
}

table.featureResults {
	border: none;
	/*border-collapse: collapse;*/
}

/*.featureTitle, .featureYear, .format, .formatYear, .featureSetTitle, .location, .existingLoan {
	display: inline-block;
}*/

/*.featureYear, .format, .formatYear, .featureSetTitle, .location, .existingLoan {
	font-size: 0.8em;
}*/

/*.featureTitle {
	width: 30%;
	font-weight: bold;
}

.featureSetTitle {
	width: 30%;
}

.format {
	width: 4em;
}*/
