@charset "UTF-8";

body {
    background-color: #e1f0f0;
    font-family: "Times New Roman", Verdana, serif;
    font-size: 1em;
    color: #282851;
    height: 100%;
}

#navbar h2 {
	padding-top: 0;
	margin-top: 0;
	padding-left: 0.2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1em;
    overflow: hidden;
}

ul#navbar {
    /*float: right;*/
	border: 2px solid #282851;
	/*vertical-align: top;*/
	display: inline-block;
}

#navbar li {
	margin: 0.5em
	/*margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;*/
}

#navbar li a {
    display: block;
}

form input {
	font-size: 1em;
	font-family: "Times New Roman", Verdana, serif;
}

ul.featureResults {
	list-style-type: none;
}

ul.featureResults {
	margin-left: 0;
	padding-left: 0;
}

table.featureResults, table.patronResults, table.loanResults {
	margin-top: 1em;
	/*border: none;*/
	/*border-collapse: collapse;*/
}

/*table.featureResults caption.resultsTableCaption,
table.patronResults caption.resultsTableCaption*/
table caption.exactResultsTableCaption,
table caption.regExpResultsTableCaption {
	font-size: 1.2em;
	font-weight: bold;
	font-style: italic;
}

table.featureResults td, table.featureResults th,
table.patronResults td, table.patronResults th,
table.loanResults td, table.loanResults th {
	padding-right: 1em;
}

.searchResultsHeaderRow {
	text-align: left;
}

table.featureResults, table.patronResults {
	margin-top: 1em;
}

.submitButton {
	margin-bottom: 1em;
}

#addFeatureButton_id, #updateFeatureButton_id, #clearFormButton_id, #searchIdButton_id, #confirmAddToCheckoutButton_id, #confirmReturnFeatureButton_id, #clearSelectionButton_id {
	margin-top: 1em;
}

#clearFormButton_id, #clearSelectionButton_id {
    margin-left: 2em;
}

.searchTypeOptions, .formatOptions, .locationOptions, #featureHasBeenSelected_id {
	margin-left: 4em;
}

.successMessage {
	font-size: 1.6em;
	font-weight: bold;
	color: forestgreen;
}

.errorMessage, .statusMessage {
	font-size: 1.6em;
	font-weight: bold;
	font-style: italic;
	color: darkred;
}

#searchCurrentLoans_id {
	margin-left: 1em;
}

#currentLoans_id {
	display: none;
}

#searchAllFeatures_id {
	display: block;
	font-style: italic;
}

#referencesHeading_id {
	text-decoration: underline;
}

#referencesList_id, #selectedFeatureInputHidden_id {
	display: none;
}

#clickToShowReferences_id {
	font-style: italic;
}

#enterFeatureIdHiddenArea_id {
	visibility: hidden;
}

input[type=text], input[type=number], input[type=password] {
	background-color: skyblue;
}

input:focus {
	border: 2px solid salmon;
}

.loggedInAsUser, .active {
	font-weight: bold;
}

/*.featureTitle, .featureYear, .format, .formatYear, .featureSetTitle, .location, .existingLoan {
	display: inline-block;
}*/

/*.featureYear, .format, .formatYear, .featureSetTitle, .location, .existingLoan {
	font-size: 0.8em;
}*/

/*.featureTitle {
	width: 30%;
	font-weight: bold;
}

.featureSetTitle {
	width: 30%;
}

.format {
	width: 4em;
}*/
