@charset "UTF-8";

body {
    background-color: #e1f0f0;
    font-family: "Times New Roman", InconsolataRegular, "Source Code Pro", monospace;
    font-size: 1.2em;
    color: #282851;
    height: 100%;
}

.featureTitle {
	min-width: 60em;
}

form input {
	font-size: 1em;
	font-family: InconsolataRegular, "Source Code Pro", monospace;
}