.quantity {
	font-weight: bold;
	color: purple;
}

.artistAndAlbum {
	font-weight: bold;
	color: teal;
}

.itemsInCart, .itemsPurchased {
	list-style: none;
}

.hide {
	display: none;
}

.totalCost {
		font-weight: bold;
		color: purple;
}