@charset "UTF-8";

body {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 2em;
	background-color: PapayaWhip;
}

.btn {
	font-size: 1em;
}

.btn-return {
	background-color: skyblue;
}

.btn-return:hover {
	background-color: #51b8e1;
	color: white;
}

.floatLeft {
	float: left
}

#viewCartBtn {
}

#returnToBrowsingBtn, #returnToCartBtn {
	margin-left: 0.5em;
}

#returnToCartBtn, #confirmPurchaseBtn {
	margin-top: 0.5em;
}
#confirmPurchaseBtn {
	background-color: #239023;
}

#confirmPurchaseBtn:hover {
	background-color: #196719;
}

#continueToCheckoutBtn, #continueBrowingBtn {
	
}

.quantity {
	font-weight: bold;
	color: purple;
}

.artistAndAlbum {
	font-weight: bold;
	color: teal;
}

.itemsInCart, .itemsPurchased {
	list-style: none;
}

.hide {
	display: none;
}

.totalCost {
		font-weight: bold;
		color: purple;
}