@charset "UTF-8";

body {
	background-color: PapayaWhip;
	font-size: 2em;
	padding-left: 1em;
	padding-right: 1em;
}

.btn {
	font-size: 1em;
}

.btn-return {
	background-color: skyblue;
}

.btn-return:hover {
	background-color: #51b8e1;
}

.floatLeft {
	float: left
}

.albumAddForm, .albumQuantityUpdateForm {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.addToCartBtn {
	padding-top: 0em;
	padding-bottom: 0em;
}

.numberInput {
	width: 2.5em;
}

#viewCartBtn {
}

#returnToBrowsingBtn {
	
}

#returnToCartBtn {
	margin-top: 0.5em;
}

#returnToCartBtn, #confirmPurchaseBtn {
	margin-top: 0.5em;
}

#continueToCheckoutBtn, #confirmPurchaseBtn {
	margin-right: 1em;
	margin-bottom: 0.5em;
}

#confirmPurchaseBtn {
	background-color: #239023;
}

#confirmPurchaseBtn:hover {
	background-color: #196719;
}

#continueBrowingBtn {
	
}

.hide {
	display: none;
}

.quantity {
	font-weight: bold;
	color: purple;
}

.artistAndAlbum {
	font-weight: bold;
	color: teal;
}

.itemsInCart, .itemsPurchased {
	list-style: none;
}

.totalCost {
		font-weight: bold;
		color: purple;
}

.zipCode {
	width: 5em;
}

.streetAddress {
	margin-left: 4em;
}